*{
  padding:0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  background: #635d3c;
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
  padding: 0;
  font-family: "Space Mono", monospace;
}
h1{
    margin: 0;
    color:black;
    font-size: 2rem;
    font-family: "Space Mono", monospace;
  }
#name-title{
  margin-top: 0;
  padding-top: 0px;
  padding-bottom: .5rem;

}
nav h1 a{
  color: black;
}
nav{
  font-family: "Space Mono", monospace;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}

nav ul{
  list-style: none;
  margin-left: 20px;
  padding: 0 0 0 10;
}
  

nav ul li{
  position: relative;
  display: inline;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  float:left;
  padding: 10px

}

nav ul li a{
  color: #2b2c33
}

nav h1{
  padding-left: 20px;
}

nav ul li a:hover{
  color: rgb(0, 0, 0)
}

#content{
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

.warning-text{
  color: rgb(255, 63, 63);
}
#photo-text{
  display: flex;
  height: 50%;

}

.gray-color{
  filter: grayscale(100%) brightness(70%);
  transition: filter 2s;
  
}
.gray-color:hover{
  filter: grayscale(0%) brightness(100%);
  transition: filter .5s;
}
#photo-t{
  position: relative;
  width: 100%;
  height: 0;
  background-image: url("/img/family.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-right: 2rem;
}

#photo-t:hover{

}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.item {
  margin-bottom: 20px;
  width: 25%;
  height: 100%;
  padding: 0rem 1rem;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}